
.app-container {
  position: relative;
  background: black;
  overflow: hidden;
}

nav, .navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #141414;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 1000; 
  border-bottom: 1px solid #222;
}

.layout {
  display: flex;
  flex-grow: 1;
  margin-top: 60px; 
  height: calc(100vh - 70px);
  transition: margin-left 0.3s ease;
}


.sidebar {
  position: fixed;           
  top: 65px;                 
  left: 0;
  bottom: 0;
  background-color: #1a1a1a;
  color: white;
  transition: width 0.3s ease;
  overflow-y: auto;
  height: calc(100vh - 90px); 
  scrollbar-width: thin;
  z-index: 900;              
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;

}

.sidebar.expanded {
  width: 220px;
}

.sidebar.collapsed {
  width: 70px;
}

.content {
  flex-grow: 1;
  margin-left: 220px; 
  transition: margin-left 0.3s ease;
  padding: 20px;
  overflow-y: auto;
  height: 100%;
}

.sidebar.collapsed ~ .content {
  margin-left: 70px;
}

@media (max-width: 768px) {
  .sidebar.expanded {
    position: absolute;
    left: 0;
    top: 60px;
    height: calc(100vh - 60px);
    width: 200px;
    z-index: 999;
  }

  .sidebar.collapsed {
    width: 0;
  }
}
